[user]
    useConfigOnly = true
    name = {{ .name | quote }}
    email = {{ .email | quote }}
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGQr7b5+YourSSHKeyHere

[diff]
{{- if .is_macos }}
    tool = Kaleidoscope
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
{{- else }}
    tool = vimdiff
{{- end }}

[difftool]
    prompt = false
{{- if .is_macos }}
    trustExitCode = true
{{- end }}

[merge]
{{- if .is_macos }}
    tool = Kaleidoscope
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
{{- else }}
    tool = vimdiff
{{- end }}

[mergetool]
    prompt = false

[push]
    autoSetupRemote = true

[core]
    excludesFile = ~/.gitignore
{{- if .is_macos }}
    editor = zed --wait
{{- else }}
    editor = nvim
{{- end }}

[commit]
    gpgsign = true

[init]
    defaultBranch = main

[includeIf "gitdir:~/a/nevaya/"]
    path = ~/a/nevaya/.gitconfig

[pull]
    rebase = false
