[user]
    useConfigOnly = true
    name = {{ .name | quote }}
    email = {{ .email | quote }}
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAsofD55EXCI4Ohh1j8mybzGNgTc9TpQTZat6tdjJzhf

[diff]
{{- if .is_macos }}
    tool = Kaleidoscope
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
{{- else }}
    tool = vimdiff
{{- end }}

[difftool]
    prompt = false
{{- if .is_macos }}
    trustExitCode = true
{{- end }}

[merge]
    conflictstyle = zdiff3
{{- if .is_macos }}
    tool = Kaleidoscope
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
{{- else }}
    tool = vimdiff
{{- end }}

[mergetool]
    prompt = false

[push]
    autoSetupRemote = true

[core]
    excludesFile = ~/.config/git/ignore
    hooksPath = ~/.config/git/hooks
    pager = delta
{{- if .is_macos }}
    editor = zed --wait
{{- else }}
    editor = nvim
{{- end }}

[commit]
    gpgsign = true

[gpg]
    format = ssh

[gpg "ssh"]
{{- if .is_linux }}
    program = "/opt/1Password/op-ssh-sign"
{{- end }}
    allowedSignersFile = ~/.ssh/allowed_signers

[init]
    defaultBranch = main

[includeIf "gitdir:~/a/nevaya/"]
    path = ~/a/nevaya/.gitconfig

[pull]
    rebase = false

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    syntax-theme = Monokai Extended
    side-by-side = true
    line-numbers = true
    hyperlinks = true
    hyperlinks-file-link-format = zed://file/{path}:{line}
{{- if .is_macos }}

[safe]
    directory = /Users/Shared/sv-{{ .chezmoi.username }}/repositories/*
    directory = /Users/Shared/sv-{{ .chezmoi.username }}/worktrees/*
    directory = /Users/Shared/sv-{{ .chezmoi.username }}/worktrees/*/*
{{- end }}
