[user]
    useConfigOnly = true
    name = {{ .name | quote }}
    email = {{ .email | quote }}
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAsofD55EXCI4Ohh1j8mybzGNgTc9TpQTZat6tdjJzhf

[diff]
    tool = Kaleidoscope
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
    prompt = false
    trustExitCode = true

[merge]
    conflictstyle = zdiff3
    tool = Kaleidoscope
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true

[mergetool]
    prompt = false

[push]
    autoSetupRemote = true

[core]
    excludesFile = ~/.config/git/ignore
    hooksPath = ~/.config/git/hooks
    pager = delta
    editor = zed --wait

[commit]
    gpgsign = true

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers

[init]
    defaultBranch = main

[includeIf "gitdir:~/a/nevaya/"]
    path = ~/a/nevaya/.gitconfig

[pull]
    rebase = false

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    syntax-theme = Monokai Extended
    side-by-side = true
    line-numbers = true
    hyperlinks = true
    hyperlinks-file-link-format = zed://file/{path}:{line}
